eval "$(rtx env)"
export MEDIASERVE=
export NAVIDROME=
export NPM_TOKEN=
export OPENMEDIAVAULT=
export PI_TABLET=
export PI_KITCHEN=
export DUPLICATI=
export FRIGATE=
export PAPERLESS=

export VAULT_ADDR=
export VAULT_PASSWORD=
export VAULT_USERNAME=
export ALGOLIA_USER_EMAIL=
