[user]
  name = Blaine Venturine
  email = blaineventurine@gmail.com
  signingkey = ~/.ssh/id_ed25519.pub

[include]
;  path = ~/.gitconfig.local
  path = ~/.config/delta/config

[includeIf "gitdir:~/Library/Application Support/wezterm/plugins/"]
    path = ~/.config/wezterm/.gitconfig

[merge]
  tool = nvimmerge
  conflictstyle = zdiff3

; TODO: maybe update this to use diffview.nvim
[mergetool "nvimmerge"]
  ; cmd = "nvim -d \"$LOCAL\" \"$REMOTE\" \"$MERGED\" -c 'wincmd w' -c 'wincmd J'"
  ; cmd = nvim -f -c \"DiffviewOpen\" \"$MERGED\"
  cmd = "nvim -c DiffviewOpen"
  ; cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
	; cmd = nvim -d "$MERGED" "$BASE" "$LOCAL" "$REMOTE"

[mergetool]
  prompt = false 
  hideresolved = true

[diff]
  tool = nvimdiff
  colorMoved = zebra
  context = 10
  algorithm = histogram

[difftool]
  prompt = false

[difftool "nvimdiff"]
  cmd = "nvim -c DiffviewOpen"
  ; cmd = nvim -d \"$LOCAL\" \"$REMOTE\"

[alias]
  addtolast = !git add . && git commit --amend --no-edit
  b = for-each-ref --sort=-committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
  c = checkout
  cb = checkout -b
  difflatest = diff HEAD^ HEAD
  diffmaster = !git fetch && git difftool --dir-diff origin/master..HEAD
  diffstash = !git stash show -p stash@{0}
  difftoollatest = difftool HEAD^ HEAD
  ff = !git fetch && git merge --ff-only origin/master #$1 $2
  history = !git log -- ${GIT_PREFIX:-.}
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --max-count=15
  lf = log %1 --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --max-count=15
  myclean = stash save --keep-index
  nc = "!f() { git add -A && git commit -m \"$@\" && git push; }; f"
  psuo = push --set-upstream origin
  pud = pull upstream develop
  pum = pull upstream master
  s = status
  uncommit = reset HEAD~
	append = town append
	compress = town compress
	contribute = town contribute
	diff-parent = town diff-parent
	down = !git town down > /dev/null
	hack = town hack
	delete = town delete
	observe = town observe
	park = town park
	prepend = town prepend
	propose = town propose
	rename = town rename
	repo = town repo
	set-parent = town set-parent
	ship = town ship
	sync = town sync
	up = !git town up > /dev/null

[color]
  ui = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[color "diff"]
  commit = green bold
  frag = magenta bold
  meta = yellow bold
  new = green bold
  newMoved = cyan dim
  newMovedAlternative = cyan italic
  old = red bold
  oldMoved = blue dim
  oldMovedAlternative = blue italic
  whitespace = red reverse

[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22

[core]
  editor = nvim
  excludesfile = ~/.gitignore_global
  ; hooksPath = ~/.config/git_template/hooks
  pager = delta --side-by-side --width $(expr ${COLUMNS} - 10) --wrap-max-lines unlimited
  ; pager = diffnav

[pager]
;   log = delta
;   reflog = delta
;   show = delta
;   difftool = true
;   branch = 
	diff = diffnav

[push]
  default = current
  folowTags = true
	autoSetupRemote = true

[pull]
  ff = only
  default = current
  ; rebase = true

[interactive]
  diffFilter = diffnav ; delta --color-only

[fetch]
  prune = true

[tag]
  gpgSign = true

[commit]
  gpgSign = true

[gpg]
  format = ssh

[filter "lfs"]
  clean = git-lfs clean -- %f
  process = git-lfs filter-process
  required = true
  smudge = git-lfs smudge -- %f

[rebase]
  autosquash = true
  autostash = true

[rerere]
  enabled = true

[url "git@github.com:"]
  insteadOf = "https://github.com/"

[log]
  date = iso

[blame]
  date = short
[init]
	defaultBranch = main
