*
!.gitconfig
!.gitignore
!.gitignore_global
!.gitmodules

!.config/

!.config/bat/
!.config/bat/config

!.config/direnv/
!.config/direnv/**/*

!.config/gh/
!.config/gh/**/*
.config/gh/hosts.yml

!.config/kitty/
!.config/kitty/**/*

!.config/lazygit/
!.config/lazygit/**/*
.config/lazygit/state.yml

!.config/nvim/
!.config/nvim/**/*

!.config/rtx/
!.config/rtx/**/*

!.config/tmuxinator/
!.config/tmuxinator/**/*

!.ssh/
!.ssh/config

!.config/zsh/
!.config/zsh/**/*
# Ignore all completions
.config/zsh/.zcompdump*
# I don't want to share history across computers
.config/zsh/.zsh_history

!.tmux/
!.tmux/**/*
.tmux/plugins/**/*

!.fonts/
!.fonts/**/*

!bin/
!bin/**/*

!.default-gems
!.default-npm-packages
!.default-cargo-crates
!.default-golang-pkgs
!.default-python-packages

!.envrc.example
!.fzf.zsh
!.bashrc
!.nbrc
!.pryrc
!.taskrc
!.vimrc
!.tool-versions
!.vale.ini
!.zshenv

!Brewfile
!packageList
!README.md
