*
!.gitconfig
!.gitignore
!.gitignore_global
!.gitmodules

!.config/

!.config/bat/
!.config/bat/config
!.config/bat/themes/
!.config/bat/themes/**/*
!.config/bat/themes/enki-theme/
!.config/bat/themes/enki-theme/**/*

!.config/direnv/
!.config/direnv/**/*

!.config/gh/
!.config/gh/**/*
.config/gh/hosts.yml

!.config/git_template/
!.config/git_template/hooks
!.config/git_template/hooks/**/*

!.config/kitty/
!.config/kitty/**/*

!.config/lazygit/
!.config/lazygit/**/*
.config/lazygit/state.yml

!.config/nvim/
!.config/nvim/**/*

!.config/mise/
!.config/mise/**/*

!.config/tmuxinator/
!.config/tmuxinator/**/*

!.ssh/
!.ssh/config

!.config/zsh/
!.config/zsh/**/*
# Ignore all completions
.config/zsh/.zcompdump*
# I don't want to share history across computers
.config/zsh/.zsh_history

!.tmux/
!.tmux/**/*
.tmux/plugins/**/*

!.fonts/
!.fonts/**/*

!bin/
!bin/**/*

!.default-cargo-crates
!.default-gems
!.default-golang-pkgs
!.default-npm-packages
!.default-python-packages

!.bashrc
!.envrc.example
!.fzf.zsh
!.nbrc
!.osx
!.pryrc
!.rubocop.yml
!.taskrc
!.tool-versions
!.vale.ini
!.vimrc
!.zshenv

!Brewfile
!packageList
!README.md

**/.DS_STORE
